

html{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#App{
    max-width: 1200px;
    margin: 2rem auto;
}

header{
    margin-bottom: 2rem;
}
/* toggleBtn */
header .toggle_B{
    width: 70px;
    height: 30px;
    background: #cccccc;
    border-radius: 15px;
    margin-bottom: 1rem;;
}

header .toggleBtn{
    border: none;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 15px;
    position: relative;
    left: 0;
    transition: all 0.5s ease;
}

header .toggleBtn.clicked{
    left: 40px;
}

header .toggleBtn.light{
    background: #ffffff;
}

header .toggleBtn.dark{
    background: #000000;
}

/* SearchInput */
header .searchInput{
    width: 100%;
    padding: 15px 15px;
    font-size: 2rem;
    font-weight: 800;
}

.searchWrapper{
    display: flex;
}

.searchWrapper .searchInput{
    flex: 10;
}

.searchWrapper .randomBtn{
    flex: 1;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
}

header .searchedWords{
    margin-top: 20px;
    padding: 20px 10px;
}

header .searchedWords span{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;

    border: 1px solid;
    border-radius: 5px;

}

header .searchedWords span:hover{
    background: rgba(125, 125, 125, 0.5);
}

/* SearchResult */

main{
    min-width: 400px;
}

main .searchResult{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 10px;
}

main .searchResult img{
    width: 100%;    
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* ---ImageInfo--- */
.imageInfo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;       
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.content_wrapper{
    min-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    z-index: 10;
}

.content_wrapper .title{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.content_wrapper .title .close_btn{
    padding: 10px;
    outline: none;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
}

.content_wrapper img{
    width: 100%;
}

.content_wrapper .content{
    padding: 10px;
}

.content_wrapper .content p{
    font-size: 20px;
    padding-bottom: 10px;
}

/* 992px 이하 적용 */
@media (max-width : 992px){
    main .searchResult{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}
/* 768px 이하 적용 */
@media (max-width : 768px){
    main .searchResult{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    .content_wrapper{
        min-width: 400px;
        width: 100%;
    }
}
/* 576px 이하 적용 */
@media (max-width : 576px){
    main .searchResult{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}
/* darkMode 설정 */
@media (prefers-color-scheme: dark){
    body{
        color: #ffffff;
        background: #000000;
    }
    header .toggleBtn{
        background: #ffffff ;
    }
}
/* ligthMode 설정 */
@media (prefers-color-scheme: light){
    body{
        color: #000000;
        background-color: #ffffff;
    }
    header .toggleBtn{
        background: #000000 ;
    }
}
/* light, black 모드 설정을 위한 토글 클래스 */
.light_mode{
    color: #000000;
    background: #ffffff;
}

.dark_mode {
    color: #ffffff;
    background: #000000;
}

